# Ignore environment variables and batch file
*.env
*.bat

# Virtual environment
*.venv

# VS Code settings
*.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution archives
build/
dist/
*.egg-info